<div class="container">
  <div clss="row">
    <h1>ジャンル編集</h1>
    <%= notice %>
    <%= form_for @genre do |f| %>
      <%= f.text_field :category %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
