<div class="container">
	<div class="row">
		<div class="col-lg-5 style=background-color: orange;">
			<h1>注文内容を確定しました</h1>
		</div>
	</div>
	<div class="mypage">
		<%= link_to '購入履歴を確認する', user_path(current_user.id) %> 
	</div>
</div>
