<div class="container">
	<div class="row">
		<h2>新規受注受付一覧</h2>
		<div class="line"></div>
		<div class="line"></div>
		<table>
			<thead>
				<tr>
					<th>注文者</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<