<div class="container" >
  <div class="row">
      <table class="table">
        <thead>
              <tr>
                    <th>注文商品</th>
                    <th>個数</th>
                    <th>購入時の価格</th>
              </tr>
        </thead>
              <% @logs.each do |log| %>
              <tr>
                    <th><%= log.package.title %></th>
                    <th><%= log.numbers %> </th>
                    <th><%= log.purchase_price %> </th>
                    <th><%= log.numbers * log.purchase_price %></th>
              </tr>
              <% end %>
      </table>
    </div>
</div>