// Place all the styles related to the AdminPackages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-field{
  margin-left: auto;
}

.disc-links{
  
}

.song-fields{
  float: right;
}

.add-songs{
  float: right;
}