// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.cart{
  margin-bottom: 10px;
}

.image{
  margin-top: 5px;
  margin-bottom: 5px;
}

.package_name{
  margin-top: 5px;
}

.total_packages{
}

.total_cost{
  color: beige;
}

.price{
  color: aqua;
}

.full{
  background-image: image-url("cart.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carts{
  min-height: 100vh;
  font-family: fantasy;
  color: aqua;
  font-size: 20px;
  width: 100%;
}

.form{
  color: black;
}

#input_q{
  color: cornsilk;
}

#buy_q{
  color: cyan;
}

.btn-delete{
  color:chartreuse;
}

.btn-buy{
  color: darkorchid;
}