// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_items{
  margin: 40px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.package_name{
  float: left;
}

.line{
  border_bottom: 10px solid black;
}
