// Place all the styles related to the PurchasePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

/*show.html.erb*/

.h1{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

#h1{
  font-family: serif;
  color: chartreuse;
  font-weight: bold;
  font-style: oblique;
}
.purchase_p{
  background-image: image-url("purchase.jpg");
  background-size: cover;
  background-position: center;
  font-family: fantasy;
  font-size: 20px;
  color: chocolate;
}

#choise_add{
  color: deeppink;
}


.check-p{
  background-color: antiquewhite;
  margin-bottom: 20px;
}

.another_address{

}

.package_title{
  float: left;
  margin-right: 20px;
}

.package_quantity{
  float: left;
  margin-right: 20px;
}

.package_price{
  float: left;
}


#confirm{
  color: black;
  float: left;
}

.address_p{
  margin-bottom: 40px;
  background-color: antiquewhite;
}

#check{
  color: deeppink;
}


#send{
  display: inline;
}

.payment-pu{
  background-color:antiquewhite;
}

.how_to_pay{
  background-color: antiquewhite;
  padding-bottom: 20px;
}

.order_confirm{
  text-align: center;
  color:black;
  margin-bottom: 50px;
}

.three_pu{
  margin-bottom: 30px;
}

/*ここからpurchase_check.html */

.purchase_c{
   background-image: image-url("purchasecheck.jpg");
   background-size: cover;
   background-position: center;
   padding-bottom: 130px;
}

.your_order_add{
  float: left;
  width: 60%;
  border: 3px solid black;
  background-color: darkcyan;
  padding-bottom: 20px;
  font-size: 20px;
}

.your_order_item{
  background-color: darkcyan;
  border: 3px solid black;
  margin-bottom: 20px;
  font-size: 20px;
}

.total_costs{
  float: left;
  width: 30%;
  background-color: darkcyan;
  border: 3px solid black;
  padding-bottom: 20px;
  font-size: 20px;
}

.h1_c{
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
  text-align: center;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn_com{
  margin-top: 70px;
}

.btn_back{
  margin-top: 70px;
}




























