<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが<%= @resource.unconfirmed_email %>に変更されることを通知するためにご連絡します。</p>
<% else %>
  <p>メールアドレスが<%= @resource.email %>に変更されたことを通知するために連絡します。</p>
<% end %>
