<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードの変更がリクエストされました。以下のリンクから変更を行うことができます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに覚えのない場合、他の方が誤ってメールアドレスを入力された可能性があります。お手数ですがこのメールは破棄していただきますようお願いいたします。</p>
<p>上記のリンクにアクセスして新たしいパスワードを作成するまでパスワードは変更されません。</p>
