<p>こんにちは <%= @resource.email %>!</p>

<p>ログインに失敗した回数が上限を超えたのでアカウントがロックされました。</p>

<p>アカウントのロックを解除するには以下のリンクをクリックしてください。</p>

<p><%= link_to 'アカウントロックの解除', unlock_url(@resource, unlock_token: @token) %></p>
